div.gm-style-iw {
  width: 350px !important;
  top: 0 !important;
  left: 0 !important;
  padding: 0 !important;
}

div.gm-style-iw-d {
  overflow: hidden !important;
}

button.gm-ui-hover-effect {
  opacity: 1 !important;
}

button.gm-ui-hover-effect span {
  width: 20px !important;
  height: 20px !important;
  margin: 12px 0 0 0 !important;
}

.google-maps-marker_marker__OxH_F:active {
  transform: scale(1.1) !important;
  transition: transform 0.2s ease-in-out !important;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.gmnoprint[role="menubar"] {
  display: none;
}